.DivInput{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}



/* Pokedex.css */
.DivBranca {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.236);
}
  

@media (max-width: 430px) {
    .DivBranca {
        padding: 55px 13px !important; 
    }


    .search-area button {
        padding: 16px 24px; 
        font-size: 0.875rem; 

    }
    
    .search-area input {
        font-size: 0.875rem; 
    }
    
}
  